*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'SF Text', sans-serif;
}

#top_nav {
  color: #415A76;
  height: 90px;
  background-color: #F9F9F9;
}


.arrow_left {
  float: left;
  width: 24%;
  padding-left: 10px;
  padding-top: 18px;
  font-size: 20px;
}

.stop {
  float: left;
  width: 70%;
  padding-top: 18px;
}

.container {
  border-bottom: .5px;
  max-width: 375px;
  max-height: 812px;
  margin: 0 auto;
  height: 100px;
}

section {
  position: relative;
}

.scrollmenu {
  left: 1rem;
  top: 1rem;
  height: 200px;
  position: absolute;
  overflow-y: scroll;
}

div.scrollmenu a {
  display: block;
  color: #000000;
  text-align: left;
  padding: 10px;
  text-decoration: none;
  background-color: #FFFFFF;
  width: 340px;
  height: 100px;
}

#border_line {
  padding: 3px;
  border-bottom: 1px solid;
}

.bus_number {
  float: left;
  width: 20%;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: #415A76;
}

.bus_arrival {
  float: left;
  width: 20%;
  padding: 10px;
}

.bus_info {
  float: left;
  width: 60%;
  padding: 10px;
}

p {
  font-size: .75em;
  font-stretch: ultra-expanded;
  padding-top: .5em;
}

.iconfont {
  font-size: .75em;
  font-style: normal;
  color: #415A76;
}

.out_of_service h5 {
  width: 40%;
}

#btm_icons ul li{
  float: left;
  width: 20%;
  padding: 15px;
}

@font-face {
  font-family: "SF Text";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf");
}
